

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
   
.furby-bg{
    background-image:url(../img/tealfurbyud_2.png);
    background-repeat:no-repeat;
}



.bg-white{
    background-color:white;
}












